{
  "presets": [
    ["@babel/preset-env", { targets: { node: "current" }}]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "http": "./src/interfaces/http",
          "db": "./src/infra/db",
        }
      }
    ]
  ]
}
