{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "http": "./src/interfaces/http",
          "db": "./src/infra/db",
        }
      }
    ]
  ]
}
