{
  "extends": [
    "airbnb-base",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:security/recommended"
  ],
  "plugins": [
    "security"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "react": {
      "version": "detect",
    },
  },
  "env": {
    "node": true,
  },
  "rules": {
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }
    ],
    "max-len": ["error", { "code": 100 }],
    "implicit-arrow-linebreak": 0
  },
  "overrides": [
    {
      "files": ["src/infra/db/mappers/*.js", "src/infra/db/repositories/*.js"],
      "rules": {
        "camelcase": "off"
      }
    }
  ],
}
